body {
    background: black;
}
ul{
     list-style: none;
    font-size: 25px;
}
ul li a {
    color: white;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
}
#width img{
    width: 100%;
}
.lunbo {
    width: 600px;
}
.text1 .container .row .col-md-3 img {
    width: 100%;
    height: auto;
}